# pip install -r requirements.txt

# azure
azure-cognitiveservices-speech

# PyQt5
PyQt5
PyQt5-tools

# 자기버전에 맞게 설치해야함
# 윈도우기준
# https://pytorch.org/ 참고
torch==1.9.0+cu102 torchvision==0.10.0+cu102 torchaudio===0.9.0 -f https://download.pytorch.org/whl/torch_stable.html

# konlpy
konlpy

# torchtext
torchtext

# chardet
chardet



